<html>
    <link href="../home/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../home/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../home/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../home/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../home/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="../home/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../home/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../home/js/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../home/js/raphael.min.js"></script>
    <script src="../home/js/morris.min.js"></script>
    <script src="../home/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../home/js/startmin.js"></script>
</html>